*{
    margin: 0;
    padding: 0;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 139px;
    height: 60px;
}
nav ul{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    color: black;
}
button{
    cursor: pointer;
}
.hbutton{
    background-color: #469165;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    padding: 12.5px 16px;
}
.hbutton:hover, #btn:hover, .herobtn1:hover, .herobtn2:hover, .herobtn3:hover{
    background-color: darkslategrey;
}
#hero{
    background-image: url(../images/hero-bg.png);
    height: 674px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#outer{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #4691653f;
    display: flex;
    align-items: center;
    justify-content: center;
}
#middle{
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: #4691659e;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inner{
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background-color: #469165;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herobtn1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    background-color: white;
    color: #469165;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 115.5px;
    border: none;
}
#hero h1{
    color: white;
    font-size: 60px;
    margin-top: 16px;
}
#hero h1 span{
    color: #469165;
    font-size: 70px;
    display: block;
}
#hero p{
    padding-left: 400px;
    padding-right: 400px;
    color: white;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 2;
}
.herobtn2{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 16.5px 16px;
    border-radius: 4px;
}
.herobtn3{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    padding: 16.5px 16px;
}
#hero div{
    display: flex;
    justify-content: center;
    gap: 16px;
}
#card{
    max-width: 1300px;
    margin: 0 auto;
}
#card h1{
    margin-top: 35px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
#card .pout{
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.allCard{
    max-width: 300px;
    padding: 85px 24px 21.5px; 
    box-shadow: 0 -3px 5px 0 #00000019;
    border-radius: 8px;
}
#card .iconBG{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
}

#card .iconBG img{
    width: 32px;
    height: 32px;
}
.allCard h3{
    text-align: center;
    margin: 16px 0 16px;
    font-size: 24px;
    font-weight: 600;
}
.allCard p{
    font-size: 16px;
    color: #627382;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
}
#sub{
    max-width: 1300px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#sub #img{
    border-radius: 12px;
    width: 600px;
    height: 600px;
}
#sub .p1{
    font-size: 16px;
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}
#sub h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
#sub .p2{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
#sub ul{
    list-style: none;
}
#sub ul li{
    background: url(../images/CheckCircle.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}
#challenge{
    max-width: 1300px;
    margin: 120px auto;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 0;
    text-align: center;
}
#challenge h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
#challenge p{
    font-size: 16px;
    color: #627382;
    padding: 0 350px;
}
#btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 16.5px 16px;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.217);
}
#challenge div{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 16px;
}
footer{
  background-color: #001931;
}
#ft1{
    display: flex;
    justify-content: space-between;
    padding: 120px 227px 80px 120px;
}
#ft1 p{
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
}
#ft1 a img{
    margin-right: 12px;
}
hr{
    margin: 0 120px;
    backface-visibility: 15%;
    border:1px solid #fafafa2b;
}
#ft2{
    padding: 30px 120px;
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
}